/* Flexbox Fallback */
.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid > div {
  flex-basis: calc(100% / 7);
  border: solid 1px grey;
  color: #2b2b2b;
  height: 80px;
  position: relative;
}

.is-active {
  background-color: #fff;
}

.in-active {
  background-color: #ddd;
}

.day-indicator {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  color: darkgrey; 
}

.in-active .day-indicator {
  display: none;
}

/* Grid Implementation */
@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .grid > div {
    flex: 1;
  }
}